.with_margin {
    margin-top: 40px;
}
.open {
    display: block;
}
.hide {
    display: none;
}

.wrapper {
    display: flex;
   width: 100%;
    align-items: stretch;
    
}



.content {
  width: 100%;
}